.watch {
    height: calc(100vh - 50px);
    min-height: 400px;
    text-align: center;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.watch__signup {
    margin: 50px;
}

.watch__no-montages {
    margin-top: 50px;
}

.watch__create {
    margin-top: 15px;
}

.watch__player-container {
    margin: 10px auto 0;
    max-width: calc(.75 * 100vh);
    width: 100%;
}

.watch__player-wrapper {
    padding-top: 56.25%;
    position: relative;
}

.watch__player {
    position: absolute;
    left: 0;
    top: 0;
}

.watch__montages {
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.watch *[data-scrollbar] {
    width: 100%;
}

.watch__montages-overflow {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

.watch__montages-list {
    width: 100%;
}

.watch__montages-list .watch__montage:nth-child(odd) {
    background-color: #F5F5F5;
}

.watch__montage {
    padding: 10px 0;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.watch__montage--header {
    margin: 10px 0 10px;
    font-weight: bold;
}

.watch__montage-cell {
    flex: 0 1 auto;
    padding: 0 5px;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.watch__montage-cell--montageid {
    flex: 0 1 350px;
}

.watch__montage-cell--duration {
    flex: 0 0 75px;
}

.watch__montage-cell--play {
    flex: 0 0 150px;
    text-align: center;
}

@media (max-width: 700px) {
    .watch__player-container {
        margin-top: 0;
    }

    .watch__montage {
        padding: 10px 10px;
    }
}

@media (max-width: 576px) {
}
