.watch {
    height: calc(100vh - 50px);
    min-height: 400px;
    padding-top: 10px;
    text-align: center;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.watch .player {
    margin: 0 auto;
    max-width: calc(.75 * 100vh);
    width: 100%;
}

.watch .player__wrapper {
    padding-top: 56.25%;
    position: relative;
}

.watch .player__player {
    position: absolute;
    left: 0;
    top: 0;
}

.watch .montages {
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.watch *[data-scrollbar] {
    width: 100%;
}

.watch .montages__overflow {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

.watch .montages__list {
    width: 100%;
}

.watch .montages__list .montage:nth-child(odd) {
    background-color: #F5F5F5;
}

.watch .montage {
    padding: 10px 0;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.watch .montage--header {
    margin: 10px 0 10px;
    font-weight: bold;
}

.watch .montage__cell {
    flex: 0 1 auto;
    padding: 0 5px;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.watch .montage__cell--montageid {
    flex: 0 1 250px;
}

.watch .montage__cell--stream {
    flex: 1 0 150px;
}

.watch .montage__cell--duration {
    flex: 0 0 100px;
}

.watch .montage__cell--play {
    flex: 0 0 150px;
    text-align: center;
}

@media (max-width: 700px) {
    .watch .montage {
        padding: 10px 10px;
    }
}

@media (max-width: 576px) {
    .watch {
        padding-top: 0;
    }

    .montage__cell--montageid {
        display: none;
    }
}
