.select {
    height: calc(100vh - 50px);
    padding: 25px 25px;
}

.select__subheading {
}

.select__form {
    margin-bottom: 100px;
}

.select .select__streams {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.select .select__streams a {
    margin-bottom: 10px;
    margin-right: 10px;
}
