.select {
    height: calc(100vh - 50px);
    padding: 25px;
    margin: 0 auto;
    max-width: 576px;
}

.select__form {
    margin-bottom: 50px;
    text-align: center;
}

.select__form input {
    width: 100%;
}

.select .select__streams {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.select .select__streams a {
    margin-bottom: 10px;
    margin-right: 10px;
}
