.create {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: calc(100vh - 50px);
    min-height: 400px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.create .player {
    margin: 0 auto;
    max-width: calc(.75 * 100vh);
    width: 100%;
}

.create .player__wrapper {
    padding-top: 56.25%;
    position: relative;
}

.create .player__twitch-player {
    position: absolute;
    left: 0;
    top: 0;
}

.create .create__analyze {
    margin-top: 50px;
}

.create .create__montage {
    bottom: 10px;
    left: 0;
    position: fixed;
    width: 100%;
}

.create .create__montage-button {
    margin: 0 auto;
}

.create .clips {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
}

.create .clips__overflow {
    overflow: scroll;
    width: 100%;
}

.create .clips__list {
    padding-bottom: 55px;
    width: 100%;
}

.create .clips__list .clip:nth-child(even) {
    background-color: #F5F5F5;
}

.clip {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px 0;
    width: 100%;
}

.clip--header {
    margin: 10px 0 10px;
    font-weight: bold;
}

.clip__cell {
    flex: 0 1 auto;
    padding: 0 5px;
    text-align: center;
}

.clip__cell--range {
    flex: 1 1 100px;
}

.clip__cell--select {
    flex: 0 0 50px;
    padding-left: 0;
}

.clip__cell--order {
    flex: 0 0 50px;
}

.clip__cell--duration {
    flex: 0 0 75px;
}

.clip__cell--timein {
    flex: 0 0 75px;
}

.clip__cell--timeout {
    flex: 0 0 75px;
}

.clip__cell--play {
    flex: 0 0 75px;
}

.clip__cell--sort {
    flex: 0 0 50px;
    padding-right: 0;
}

@media (max-width: 700px) {
    .clip {
        padding: 10px a10px;
    }
}

@media (max-width: 576px) {
    .clip {
        flex-wrap: wrap;
    }
    .clip__cell--range {
        flex: 0 0 100%;
        margin-top: 10px;
        order: 100;
    }
    .clip__cell--timein {
        order: 101;
    }
    .clip__cell--timeout {
        order: 102;
    }
    .clip--header .clip__cell--range {
        display: none;
    }
    .clip--header .clip__cell--timein {
        display: none;
    }
    .clip--header .clip__cell--timeout {
        display: none;
    }
}
