.create {
    height: calc(100vh - 50px);
    min-height: 400px;
    padding-top: 10px;
    text-align: center;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.create .player {
    margin: 0 auto;
    max-width: calc(.75 * 100vh);
    width: 100%;
}

.create .player__wrapper {
    padding-top: 56.25%;
    position: relative;
}

.create .player__twitch-player {
    position: absolute;
    left: 0;
    top: 0;
}

.create .create__analyze {
    margin-top: 50px;
}

.create .create__montage {
    bottom: 10px;
    left: 0;
    position: fixed;
    width: 100%;
}

.create .create__montage-button {
    margin: 0 auto;
}

.create .clips {
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.create *[data-scrollbar] {
    width: 100%;
}

.create .clips__overflow {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

.create .clips__list {
    padding-bottom: 55px;
    width: 100%;
}

.create .clips__list .clip:nth-child(odd) {
    background-color: #F5F5F5;
}

.clip {
    padding: 10px 0;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clip--header {
    margin: 10px 0 10px;
    font-size: 12px;
    font-weight: bold;
}

.clip--header .clip__cell--select {
    cursor: pointer;
}

.clip__cell {
    flex: 0 1 auto;
    padding: 0 5px;
    text-align: center;
}

.clip__cell--range {
    flex: 0 0 100%;
    padding: 25px 50px;
}

.clip__cell--select {
    flex: 0 0 50px;
    padding-left: 0;
}

.clip__cell--select input {
    cursor: pointer;
}

.clip__cell--order {
    flex: 0 0 30px;
}

.clip__cell--time {
    flex: 0 0 75px;
}

.clip__cell--time hr {
    border-color: #000000;
    margin: 5px 0;
}

.clip__cell--duration {
    flex: 0 0 75px;
}

.clip__cell--buttons {
    flex: 0 0 75px;
}

.clip__cell--sort {
    flex: 0 0 75px;
    padding-right: 0;
}

@media (max-width: 700px) {
    .clip {
        padding: 10px 10px;
    }
}

@media (max-width: 576px) {
    .create {
        padding-top: 0;
    }
    .clip__cell--duration {
        display: none;
    }
}
